@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h4>Implicit Flow</h4>
    <p>
        This example follows an <a target="_blank" href="https://docs.microsoft.com/en-us/azure/active-directory-b2c/implicit-flow-single-page-application">Implicit Flow</a> for authentication.
    </p>
</div>
<br />
<div>
    <a class="btn btn-primary" asp-area="" asp-controller="SignIn" asp-action="Index">Authenticate with B2C</a>
</div>